<header>
   <a href="/">Home page</a>
     <!-- <a href="/lifebuoys/new">Lifebuoys</a> TODO:-->
    <h1>Lifebuoy Monitoring</h1>
    <p>Student project in the course 2DT304 Project with Embedded System |  Linnaeus University</p>
</header>