<section>
    <div>
        <img src="/img/lifebuoy.png" alt="" width="200px">
    </div>
    
    <nav>
        <ul>
            <li><a href="/lifebuoys/#monitor-title">Monitor</a></li>
            <li><a href="/lifebuoys/#stats-title">Stats</a></li>
        </ul>
    </nav>
</section>

<section>
    <div id="add-lifebuoy-wrapper">
        <a href="/lifebuoys/new">
            <div id="add-lifebuoy-button">+</div>
        </a>
        <p>Add New Lifebuoy</p>
    </div>
    <%- include('../partials/header') %>
</section>