<h2>Add lifebuoy</h2>
<form action="/lifebuoys/create" method="POST">
    <%- include('../lifebuoys/_form') %>
    
    <a href="/lifebuoys">Cancel</a>
    <button type="submit">Create</button>
</form>