<section id="stats-wrapper">
    <section>
        <h2 id="stats-title">Stats</h2>
    </section>

    <section id="stats-content">
        <div id="count-stats">
            <span>#</span>
            <h3>Lifebuoys are Missing<br>
            Right Now</h3>
        </div>

        <div id="month-stats">
            <h3>This Month</h3>
        </div>
    </section>
    
</section>