body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: #000;
}

main {
    margin: 0 1em;
    display: flex;
    height: 80%;
}

main>section {
    margin: 2em 1em;
}

/* container for list of lifebuoy objects, left side*/
#object-list {
    /* height: 400px; */
    flex-grow: 1;
    background-color: #343434;
    overflow-y: scroll;
    max-width: 400px;
}

#object-list h2 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid darkgray;
    font-size: 0.9em;
    margin-top: 0.1em;
}

#object-list article {
    background-color: whitesmoke;
    padding: 0.5em 1em;
    border: 1px solid darkgray;
}

#object-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    line-height: 1.2em;
}

#object-list ul li {
    display: flex;
    /* align-items: baseline; */
}

#object-list ul li strong {
    width: 95px;
    text-align: right;
    margin-right: 10px;
}

/* 
Object list style for missing lifebuoys
TODO: UX Friendly, add marker to symbol missing
*/
.object-list-missing-lifebuoy {
    background-color: #ff6666 !important; 
}

.object-list-missing-lifebuoy h2 {
    border-color: #211f1f !important;
}

/* Container for map, right side */
#map {
    flex-grow: 3;
    background-color: #70da88;
}