body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: #000;
}

main {
    margin: 0 1em;
    display: flex;
}

main > section {
    margin: 2em 1em;
}

/* container for list of lifebuoy objects, left side*/
#object-list {
    height: 400px; /* tmporary height TODO: */
    flex-grow: 1;
    background-color: #d35757;
}

/* Container for map, right side */
#map {
    flex-grow: 3;
    background-color: #794545;
}
